
/**
* CSS RESET AND GENERAL STYLING
* 
* If you would like to change the defaults defaults, copy this
* file in your theme's directory and enable it in your .info file.
* 
* If you would like your theme to IGNORE this file, enable it in your
* .info file but do not copy it in your theme's folder.
*/
* {
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}

code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
	font: inherit;
	white-space: normal;
}

a,
img,
a img,
iframe,
form,
abbr,
acronym,
object,
applet,
table,
a abbr,
a acronym {
	border-width: 0;
}

i,
var,
address {
	font-style: normal;
}

b {
	font-weight: normal;
}

caption,
th,
td {
	text-align: left;
}

html {
	background: white;
	color: black;
	line-height: 1;
}

a {
	color: inherit;
}

/**
* DISABLE DEPRECATED HTML
*/
font,basefont {
	color: inherit;
	font: inherit;
	font-size: 100%;
}
center,
*[align] {
	text-align: inherit;
}

s,
strike,
u {
	text-decoration: inherit;
}

img {
	border: none;
	margin: 0;
}

body {
	background-color: transparent;
}

tr,
th,
td {
	background-color: transparent;
	border: none;
	height: auto;
	vertical-align: inherit;
	width: auto;
}
table[border],
.type table[border] {
	border-collapse: separate;
	border-spacing: 0;
}

nobr {
	white-space: normal;
}

marquee{
	overflow: visible;
	-moz-binding: none;
}

blink {
	text-decoration: none;
}

/**
* GENERAL STYLES
*/
a {
	text-decoration: underline;
}

thead td {
	font-weight: bold;
}

cite,
dfn {
	font-style: italic;
}

code,
kbd,
samp,
pre,
tt,
var,
input[type='text'],
input[type='password'],
textarea {
	font-size: 100%;
	font-family: mono-space,monospace;
}

pre {
	white-space: pre;
}

pre* {
	font-size: 100%;
	white-space: pre;
}

del {
	text-decoration: line-through;
}

ins,
dfn {
	border-bottom: 1px solid black;
}

small,sup,sub{
	font-size: 85%;
}
big{
	font-size: 125%;
	line-height: 80%;
}

abbr,
acronym {
	font-size: 85%;
	letter-spacing: .1em;
	text-transform: uppercase;
}

abbr[title],
acronym[title],
dfn[title] {
	cursor: help;
	border-bottom: 1px dotted black;
}

blockquote {
	padding-left: 2.2em;
}

input,
select,
button {
	cursor: pointer;
}

input[type='text'],
input[type='password'] {
	cursor: text;
}

input[type='hidden'] {
	display: none;
}


/**
* TYPOGRAPHICAL DEFAULTS FOR CONTENT
*/
.type hr {
	background: black;
	border: none;
	color: black;
	display: block;
	height: 1px;
	width: 100%;
}

.type ol {
	list-style: decimal outside;
}

.type ol ol {
	list-style: lower-alpha outside;
}

.type ol ol ol  {
	list-style: lower-roman outside;
}

.type table {
	border-collapse: collapse;
}

.type hr,
.type p,
.type ul,
.type ol,
.type dl,
.type pre,
.type address,
.type table,
.type form {
	margin-bottom: 1.6em;
}

.type p + p,
.type p + ul,
.type p + ol,

.type p + dl {
	margin-top: -.8em;
}

.type fieldset {
	margin: 1.6em 0;
}

.type legend {
	padding-left: .8em;
	padding-right: .8em;
}

@media all and (min-width: 0px) /* for Opera 8*/ { 

	.type legend {
		margin-bottom: 1.6em;
	}
	
	.type fieldset {
		margin-top: 0;
	}
	
	.type[class^='content'] fieldset {
		margin-top: 1.6em;
	}

}

.type fieldset>*:first-child {
	margin-top: 0;
}

.type textarea,
.type input[type='text'] {
	padding: .1em .2em;
}

.type input {
	padding: .2em .1em;
}

.type select {
	padding: .2em .1em 0;
}

.type select[multiple] {
	margin-bottom: .8em;
}

.type option {
	padding: 0 .4em .1em;
}

.type button {
	padding: .3em .5em;
}

.type input[type='radio']{
	bottom: -.2em;
	position: relative;
}

.type dt {
	margin-top: .8em;
	margin-bottom: .4em;
}

.type ul,
.type ol {
	margin-left: 2.2em;
	padding: 0;
}

.type ul ul,
.type ol ul,
.type ul ol,
.type ol ol {
	margin-bottom: 0;
}

blockquote >*:first-child:before /* Tripoli bonus: pure CSS blockquote*/ {
	font-size: 2.5em;
	line-height: 0;
	margin-left: -.62em;
	padding-right: .2em;
}

abbr[title],
acronym[title],
dfn[title] {
	border-bottom: 1px solid #ccc;
}

textarea,input[type='text'],
input[type='password'],select {
	background: #fff;
	border: 1px solid #ccc;
}

fieldset{
	border: 1px solid #ccc;
}

textarea:hover,
input[type='text']:hover,
input[type='password']:hover,
select:hover {
	border-color: #aaa;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
select:focus {
	border-color: #888;
	outline: 2px solid #e4e4e4;
}

.type table {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.type th,
.type td {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ccc;
}

.type th,
.type td {
	padding: .8em .8em .5em;
}

/**
* COMMON LAYOUT DEFAULTS
*/
#page,
#container {
	margin: 0 auto;
	position: relative;
}

#preface,
#postscript,
#footer,
#content,
#primary,
#primary .messages,
#primary .help,
#primary .node, 
#primary .view,
#primary form,
#content-pre-title,
#content-post-title,
#comments .comment {
	clear: both;
	width: auto;
}

#comments .comment,
#comments .comment .content,
#preface,
#preface > div,
#primary .inside,
#primary .node,
#primary .node .content,
#content-pre-title,
#content-post-title,
#secondary,
#secondary > div,
#tertiary,
#tertiary > div,
#postscript,
#postscript > div,
#content,
#container,
#footer,
#closure,
#page {
	overflow: hidden;
}

/**
* ADMIN MENU STUFF
*/
#admin-menu {
	display: inline;
	border: 0 none;
	padding: 0;
	margin: 0;
}

/**
* DRUPAL ADMIN STUFF
*/
.skip-to-links {
	left: -5000px;
	position: absolute;
}

#primary ul.primary {
	border: 0;
	border-collapse: collapse;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

#primary ul.primary li {
	float: left;
	margin: 0 .25em;
}

#primary ul.primary li a {
	background: #fff;
	border: 1px solid #bbb;
	margin: 0 0 .25em;
	padding: 0.3em .5em .1em;
	text-decoration: none;
	display: block;
	float: left;
}

#primary ul.primary li.active a {
	background: #bbb;
	border: 1px solid #000;
	color: #fff;
}

#primary ul.primary li a:hover {
	background: #eee;
	border: 1px solid #ccc;
}

#primary ul.secondary {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}

#primary ul.secondary li {
	border-right: 1px solid #ccc;
	display: inline;
	padding: 0 1em 0 0;
	margin: 0 1em 0 0;
}

#primary ul.secondary a{
	padding: 0pt;
	text-decoration: none;
}

#primary ul.secondary a.active {
	border-bottom: 4px solid #999;
}

/* Messages*/
#primary .messages,
#primary .help {
	background: #DDFFDD;
	border: 1px solid #bbb;
	margin: .5em 0;
	padding: .5em 1em;
}

#primary .error {
	background: #FFCCCC;
}

#primary .warning {
	background: #F9FFD0;
}

.messages p,
.help p {
	margin: 1em 0;
}

/* Forms*/
#primary fieldset {
	margin: 1.6em 0;
	padding: 1em;
}

#primary fieldset fieldset {
	margin: 1.6em 1em;
}

#primary fieldset legend {
	border-bottom: 5px solid #393939;
	margin-left: 1em;
	padding: 0 1em .05em .5em;
}

#primary fieldset legend a {
	text-decoration: none;
}

#primary .form-item .description {
	font-size: 10px;
}

#primary .grippie {
	padding: 0;
}

/* Primary Tables*/
#primary table {
	line-height: 1.4;
	width: 96%; 
}

#primary table tr.even {
	background: #EEE;
}

#primary table tr.odd {
	background: #DDD;
}

#primary table tr.even.ok {
	background: #DDFFDD;
}

#primary table tr.odd.ok {
	background: #CCEBCC;
}

#primary table tr.even.error,
#primary table tr.odd.error {
	background: #FFCCCC;
}

#primary table td {
	background: transparent;
}

#primary table th {
	background: #FFF;
}

#primary table caption {
	font-weight: bold;
}

#primary table img {
	display: inline;
}

#primary .update-status table.version {
	background-color: transparent;
	border: 0 none;
}

/* Views 2 Admin page*/
.views-tabset .views-display {
	min-height: 375px;
}

form#views-ui-preview-form {
	padding-bottom: 1.5em;
}

/* Devel */
#primary .krumo-root {clear: both;}