
/**
* GENERAL STYLES FOR PRINT STYLESHEET
*/

* {
	background: transparent;
}

blockquote {
	font-style: italic; 
	color: black; 
}

a:link, a:visited {
	border-bottom-width: 1px;
	border-bottom-style: solid; 
}

#secondary, 
#tertiary, 
#header .block {
	display: none;
}

#header img {
	display: block;
}

#header {
	border-bottom: 1px solid #595959;
	padding-bottom: 10px;
}

#header p.site-name {
	font-size: 150%;
	font-weight: normal;
}

#header p.site-name a {
	text-decoration: none;
	color: black; 
}

#header p.site-slogan {
	font-size: 110%;
	font-style: italic;
	text-align: right; 
}

#primary { 
  width: 80%;
  margin: 30px 20% 20px 10px; 
  float: none;
}

#primary h1.page-title {
	font-size: 250%; 
	font-weight: normal; 
	letter-spacing: -.03em; 
}

#primary img {
	float: right; 
	margin: 20px;
}

#footer {
	width: 100%; 
	padding-top: 10px; 
	border-top: 1px solid #595959; 
}

#footer .block {
	display: none;
}

#footer p.copyright {
	text-align: right;
	margin-top: 2em;
} 

#footer .credit-logo a {
	display: none;
}