
/**
* CSS file for theme configuration page.
*/

/* Choose Layouts */
fieldset label,
.layouts.form-radios {
	clear: both;
}

.layouts > div.form-item {
	float: left;
	height: 200px;
	margin: 0 1.5em 1em;
	width: 132px;
}
.layouts div img {
	border: 1px solid #000;
}


.layouts .layout-type {
	font-size: 10px;
}

/* Colors */
.credit .form-item,
.colors .form-item {
	display: inline;
	margin-left: 2em;
}

.color-reference {
	margin: .25em 0 0 0 !important;
	padding: 0;
}

.color-reference li {
	border: 1px solid #000;
	color: #fff;
	float: left;
	font-weight: bold;
	height: 16px;
	list-style: none;
	margin: 0 1.5em 1em;
	padding: 3px 5px 3px;
	text-align: center;
	width: 80px;
}

.color-reference li.region-header {
	background: #dbdbdb;
}

.color-reference li.region-preface {
	background: #41ca41;
}

.color-reference li.region-primary {
	background: #fff;
}

.color-reference li.region-secondary {
	background: #6091e1;
}

.color-reference li.region-tertiary {
	background: #fdc745;
}

.color-reference li.region-postscript {
	background: #e55ff9;
}

.color-reference li.region-footer {
	background: #ca4a4a;
}

.color-reference li.region-header,
.color-reference li.region-primary, 
.color-reference li.region-tertiary {
	color: #000;
}