
/**
* BASIC TYPOGRAPHY DEFAULTS
*
* If you would like to change the typographic defaults, copy this
* file in your theme's directory and enable it in your info file
* 
* If you would like your theme to IGNORE this file, enable it in your
* .info file but do not copy it in your theme's folder.
* 
* 
* When adjusting the size of the type, consider 
* using the typoraphic scale as follows: 
* 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48
*/

html {
	font-family: helvetica,arial,verdana,"microsoft sans serif",sans-serif;
	/* font-family: Georgia, Times, "Times New Roman",serif; */
}

.type {
	font-size: 12px;
	line-height: 1.6;
}

.type h1 {
	font-size: 36px;
	line-height: 1;
	margin: 1em 0 .5em;
}

.type h2 {
	font-size: 24px;
	line-height: 1.1;
	margin: 1.07em 0 .535em;
}

.type h3 {
	font-size: 21px;
	line-height: 1.2;
	margin: 1.14em 0 .57em;
}

.type h4 {
	font-size: 18px;
	line-height: 1.2;
	margin: 1.23em 0 .615em;
}

.type h5 {
	font-size: 16px;
	line-height: 1.2;
	margin: 1.33em 0 .67em;
}

.type h6 {
	font-size: 14px;
	line-height: 1.2;
	margin: 1.6em 0 .8em;
}

/* Secondary/Tertiary Defaults*/
#secondary .type,
#tertiary .type {
	font-size: 11px;
	line-height: 1.4;
}

#secondary .type h2.block-title,
#tertiary .type h2.block-title {
	font-size: 24px;
}

#secondary .type h2,
#tertiary .type h2 {
	font-size: 21px;
}
#secondary .type h3,
#tertiary .type h3 {
	font-size: 18px;
}
#secondary .type h4,
#tertiary .type h4 {
	font-size: 16px;
}
#secondary .type h5,
#tertiary .type h5 {
	font-size: 14px;
}
#secondary .type h6,
#tertiary .type h6 {
	font-size: 12px;
}